main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

article {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    border: 2px black solid;
    width: 900px;
    height: 900px;
    gap: 0;
}

.carre {
   width: 60px;
   height: 60px;
   background-color: black;
}

