main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

article {
    display: flex;
    flex-wrap: wrap;
    border: 2px black solid;
}

.carre {
   width: 60px;
   height: 60px;
}

